     
 body,html {
  padding: 0; margin: 0;
  box-sizing: border-box;
  background-color: #FDEEEE;
 }

header h1 {
        text-align: center;
        font-weight: 600;
        font-family: monospace;
        font-size: 60px;
}

	header {
    position: fixed;
    top: 0;
  line-height: 0;
		background-color: #F7C1C1;
		color: #fff; 
  text-shadow: 4px 3px 0px #7A7A7A;
  padding: 1px 1px 1px 1px;
  margin: none;
		width: 100%; 
	}

nav {
  position: fixed;
  top: 70px;
  z-index: 0;
		background-color: #F7C1C1;
		padding: 5px 5px 1px 5px;
  border-bottom: 2px solid #7A7A7A;
  font-size: 20px;
  font-weight: 300;
  width: 100%;
}

nav a {
  font-family: sans-serif;
  color: #666;
		text-decoration: none;
}

nav li {
		float: left;
  position: relative;
  top: -15px;
		list-style-type: none;
		padding: 0px 10px;
}

a:hover{
  font-weight: 520;
  color: #555;
}

#nav_bar {
/*    border: 2px solid black;*/
width: 310px;
margin: auto;
}

section {
  width: 80%;
    box-shadow: 0 0 20px 5px #7A7A7A;
  margin: auto;
  height: auto;
}

section.home{
  padding-bottom: 1300px;
}

section.services{
  padding-bottom: 30px;
}

section h1 {
    padding-top: 90px;
    text-align: center;
    font-size: 80px;
    font-family: serif;
    color: #111;

}

section h2 {
    text-align: center;
    font-size: 60px;
    font-family: serif;
    color: #222;
    margin-bottom: 1px;
}

section h3 {
    text-align: center;
    font-size: 40px;
    font-family: serif;
    color: #222;
    margin-top: 1px;
    padding-bottom: 40px;
}

p {
  font-weight: 300;
  font-size: 30px; 
  padding: 30px;
  color: #555;  
}

form {
  background-color: #F9D2D2;
      border: 3px solid #F7C1C1;
      padding: 10px;
      margin-bottom: 40px;
  width: 40%;
  margin: auto;
  font-size: 20px;
}

form h4 {
  margin: 0;
  padding: 0;
}

input[type="text"]{
  width: 40%;
  height: 20px;
}
